/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
//@import "../../../node_modules/bootswatch/dist/cerulean/variables"; // Needs to come first, to override defaults.
@import "../../base_files/scss/_tiki-bootstrap_functions";

//@import "../scss/variables";
//@import "../scss/variables-dark";
@import "../../default/scss/variables"; // Bootstrap default variables, with a few Tiki overrides
@import "../../default/scss/variables-dark"; // Bootstrap dark mode default variables

@import "../scss/variables"; // Needs to come first, to override Bootstrap defaults.
@import "../scss/variables-dark";

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../node_modules/bootswatch/dist/cosmo/bootswatch";
//@import "../../base_files/scss/_tiki-bootstrap_layout_and_components";

@import "../scss/css-variables"; // Needs to be loaded after default variables to override them

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}